<playground-app class="block">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.<br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.<br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.<br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.<br>
  </p>
</playground-app>